<h1>Tiny App</h1>
<% if (!username){ %>
  <form class="form-inline" action="/login" method="POST">
    <div class="form-group mb-2">
      <input class="form-control" type="text" name="username" placeholder="Enter your Username: " style="width: 300px; margin: 1em">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
<%} else{ %>
  <form class="button" action="/logout" method="POST">
    Not <%=username%> ?
    <button type="submit" class="btn btn-primary">Logout</button>
<%} %>